agno
openai
git+https://github.com/dolfies/discord.py-self.git@97e06c393f6e8f30d00fe0dd9cdf7196145fa851#egg=discord.py-self
groq
python-dotenv
psycopg2-binary
asyncpg
sqlalchemy
exa-py
e2b_code_interpreter
firecrawl-py
pytz
